# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# Note: models/*.pkl est géré par Git LFS (voir .gitattributes)